body {
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50;  /* Pleasant green background */
    color: #FFFFFF;  /* White text color */
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;  /* Adds space below the header */
}

#canvas-container {
    width: 500px;
    height: 500px;
    border: 5px solid #2E7D32;  /* Dark green border */
    margin: 20px auto;
    position: relative;
    background-color: #FFFFFF;  /* White background for the canvas */
}

#controls {
    margin: 20px;
}

input[type="file"], button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;  /* Dark green for buttons */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
    background-color: #66BB6A;  /* Lighter green on hover */
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
